venv/
venv_backup/
frontend/node_modules/
node_modules/
__pycache__/
*.pyc
*.pth
saved_models/*.pth
saved_models/
.idea/
.vscode/
*.log
.env
.DS_Store
Thumbs.db
user_history.json
classification_report.txt
confusion_matrix.png
*.pyc
backend/saved_models/
backend/__pycache__/
backend/app/__pycache__/
backend/skin_model/__pycache__/
